[2019-03-13 20:19] zuphilip opened #1 "Idea: pdfimages from poppler (xpdf) to convert pdf to images"
Zotero already uses `pdfinfo` and `pdftotext` from the poppler (xpdf) library. A modfied version of these two command line tools are created in https://github.com/zotero/cross-poppler  and shipped with Zotero. After the Zotero installation these two tools are in the Zotero program folder, e.g. `C:\Program Files (x86)\Zotero\`.

If we have also `pdfimages` in this folder, then it can be used simila

[2019-03-14 21:30] zuphilip opened #2 "Idea: Output searchable pdf and hocr/html version"
Besides outputting a searchable pdf we can also output a hocr file which can be attachted to the Zotero item as a html file. I would suggest to already include [hocrjs](https://github.com/kba/hocrjs) as a script, such visualizing this html representation is interesting. It is needed for this feature to store and keep the images in a subfolder.

[2019-10-02 10:28] trenkert opened #3 "Error message"
I installed zotero-ocr via xpi. I was able to set the tesseract path in the preference window and I can select "OCR selected pdf" from the context menu. However, nothing happens. This is the terminal output:

[code]

[2019-10-04 18:52] zuphilip commented on #3
Okay, maybe it is enough to copy these lines https://github.com/zuphilip/zotero-open-citations/blob/master/chrome/content/zoteroopencitations.js#L9-L11 here as well. I will look into this later...

[2019-10-06 16:03] stweil commented on #3
It should be fixed now in Git master. We still have to prepare a new release.

[2019-11-11 14:42] luerhard opened #4 "Nothing happens when used"
Hey devs,
first of all: Nice idea to implement OCR for zotero! I have a problem with it: I installed the self-built .xpi-File (based on commit `63dacf0`) in zotero (Desktop version `5.0.77`) and set the path to `/usr/bin/tesseract`which is where my tesseract is installed to. But now, when I right-click on an entry and select "OCR selected PDF(s)" -> nothing happens.

Expected behaviour:
Something

[2019-11-13 07:19] zuphilip commented on #4
Did you download the other prerequisite about `pdftoppm` and placed it in the Zotero directory to the other similar scripts? But we still need to make some lines more general in order to work also in Linux, e.g. https://github.com/UB-Mannheim/zotero-ocr/blob/master/chrome/content/zoteroocr.js#L14-L16 . @stweil Do you know whether these two lines with the `.exe` are the only ones which need to be c

[2019-11-13 11:50] luerhard commented on #4
I have pdftoppm version 0.80.0 installed, but I did not copy any files into a Zotero directory.
I hardcoded my paths like:
[code]

I now create the following files in the folder of the pdf-Attachment:
- image-list.txt
- _filename_.info.txt
- _filename_.ocr.hocr (empty)
- _filename_.ocr.pdf (empty)
- _filename_.ocr.txt (empty)

The image-list.txt also contains a list of possible png-filepaths, but

[2019-11-14 13:17] stweil opened #7 "Document names with spaces don't work on Windows"
In a test on Windows, the OCR failed when the name of the PDF includes space characters.

The same test still has to be done for Linux and macOS.

[2019-11-14 13:20] stweil commented on #4
Portability issues are addressed by the pull requests #5 and #6.

In addition, pull request #6 now adds reporting for missing executables (it shows an alert and aborts) and enters the found tesseract executable to the user settings. It also adds some debug messages which can help to find future problems.

[2019-11-19 07:08] zuphilip commented on #1
Implemented in 4f8b54a4d640711ed9211da47898c5709a7ca559 but with `pdftoppm` instead.

[2019-11-19 07:08] #1 closed

[2019-11-23 11:01] zuphilip opened #8 "Determine available languages and provide a choice for them"
Currently, we use a fixed language as `deu` or `eng` for OCR with Tesseract. But in a lot of cases it is even better to choose `script/Latin`, or for old texts `script/Fraktur`. Also other languages or scripts should be available to choose from.

There are several things to consider here:
1. How can we find out the available languages for the currently installed tesseract? - It is possible to [run

[2019-11-23 11:04] zuphilip opened #9 "Make some output optionally to keep"
Currently all Files that are created during the process are kept. That includes the png-Files, the pdf. For my testfile that results in 35,8 MB for a 274 KB file. Assuming that scaling: If a perform OCR on all files of my 4GB zotero library (which I would want to search for stuff), it will grow to 520 GB. I would suggest to get rid of all the png files and to set an option if the *.ocr.pdf should

[2019-11-23 11:06] zuphilip commented on #9
I'll chime in here too, because I have the same feedback as @luerhard - I'd love to see an option that gets rid of all extraneous stuff (image, hocr, text, etc. files) and keeps only the OCR-ed PDF file. Other than that this is awesome! :)

_Originally posted by @akavalar in https://github.com/UB-Mannheim/zotero-ocr/pull/6#issuecomment-557638891_

[2019-11-23 11:22] zuphilip commented on #9
Yeah, currently we tried several things to provide and have some more ideas for the hocr-file see #2. I understand that not all of these might be needed in the end and maybe even different users want to have different output files.

Usually the PDF should only get an additional text layer such that the size should be more or less the same. However, I expect that an increase in the file size might

[2019-11-23 14:41] stweil commented on #8
Keep it simple. I think it would be sufficient to have a user option (similar to the tesseract path option) for the language / script which is preset to `eng` (the default language which is always installed). The user would be responsible for installing and selecting the right models, otherwise Tesseract would simply fail with an error.

`Latin` (or `script/Latin`, depending on your installation)

[2019-11-23 15:57] zuphilip commented on #4
This should be fixed now with version 0.2.0. Therefore I close this. If the problem still exists then feel free to open it again.

[2019-11-23 15:57] #4 closed

[2019-11-23 15:59] zuphilip commented on #3
New release 0.2.0 is out now which also fixed some other problems. Therefore I close this now. If the problem still exists for you @trenkert then feel free to open the issue again.

[2019-11-23 15:59] #3 closed

[2019-11-23 18:18] luerhard commented on #9
That is exactly, what I would be looking for !

[2019-11-23 18:29] luerhard commented on #8
Regarding 1.
For Unix-systems it would probably be enough to just run the command
`tesseract --list-langs > /path/to/file.txt`
to print all the available languages to a file.

If this works fine, one could implement a Dropdownmenu to just select the language. I think that would be enough.

[2019-11-26 21:41] zuphilip commented on #9
This is now implemented in latest commits.

[2019-11-26 21:41] #9 closed

[2019-11-26 21:47] zuphilip commented on #8
A simple solution in a free textbox in the new preferences as @stweil suggested is now implemented.

I am aware of the command in tesseract to show all available languages, but I don't see a possibility to call this from Zotero and save its output somewhere. But yeah we could create a file with something like this.

Let us wait a little bit more and in practice how good the simple solution is alre

[2019-11-26 21:49] zuphilip opened #11 "Nested option in preferences is always enabled"
The nested option in the preferences is always enabled, also there is the function to disable that (and it worked at some point). One sees then the following error:
[code]

[2019-11-26 21:51] zuphilip opened #12 "Add files directly and not only the links to them"

[2019-12-11 07:33] zuphilip opened #13 "Upload xpi file of a release with special content-type"
Currently, when clicking on a XPI file in Firefox, it first tries to install this as a Firefox plugin. Thus, one usually need to right click on the file and save it before installing in Zotero. The idea is to use a special content-type which can then also be handled by the Zotero connector, see also https://github.com/zotero/zotero-connectors/issues/297 .

[2020-01-21 12:54] zuphilip opened #14 "More flexibility with pdftoppm dependency"
Today, I installed the plugin on a macOS and there was the problem that the `pdftoppm` was not found initially. Then, the easiest was to install it with `brew install poppler` which installed thereby a lot of other things as well. However, that was still not fine then, because the plugin expected the program to lie in the Zotero directory, which could then finally solved by copy and paste.

How ca

[2020-05-13 13:46] p3palazzo commented on #14
On Linux, using a symlink rather than copying works, too. I support the request to have an option to specify the path to pdftoppm.

[2020-05-14 17:41] prc1212 commented on #14
I'm having an issue with this. I've installed Tesseract, Poppler, and Zotero-OCR without a problem. However, I'm not clear on what exactly needs to be copied and pasted into the directory Zotero.app/Contents/MacOS/.

[2020-05-17 21:59] zuphilip commented on #14
@prc1212 The executable script  `pdftoppm` should be copied in the same directory as the Zotero executable itself.

[2020-05-18 17:14] prc1212 opened #15 "'Overwrite the initial PDF' duplicates Zotero pdf record"
When running z-ocr with the options shown below, a single pdf is generated but the record in Zotero is duplicated.

<img width="651" alt="Screenshot 2020-05-18 at 18 20 22" src="https://user-images.githubusercontent.com/64705985/82236351-44cf3200-9934-11ea-8fe8-ff84088af5e3.png">

I'm using ZotFile, as you can see from the filepaths.

The links aren't broken. Both records refer to the same pdf.

I

[2020-07-16 02:23] llity commented on #14
@zuphilip where can I find pdftoppm? there just pdftoppm.cc file.

[2020-07-16 02:25] llity commented on #14
@prc1212 Do you solve this issue?

[2020-07-23 22:24] ddmarshall opened #16 "pdftoppm not Found"
Using v.0.3.0 on linux with Zotero v 5.0.89. I'm using the standard Ubuntu 20.04 installation of tesseract and pdftoppm (both located in /usr/bin).

To reproduce:
- Install latest verion
- Right click on a PDF to OCR

This results in the following error message:
Cannot find /usr/local/Zotero_linux-x86_64/pdftoppm

Work-around is to create symbolic link to the system pdftoppm in /usr/local/Zotero_l

[2020-08-26 17:56] pmwills commented on #7
I am having the same problem.

To add, I can run the relevant commands (after installing poppler) from the command line with success, provided the command and file names are wrapped in the necessary quotes. But what appears to be the same command does not work when run from the extension.

As far as I can tell, the extension relies on Zotero.Utilities.Internal.exec to handle the Windows-specific s

[2020-10-10 02:06] githubnavigator opened #17 "No output?"
I have popplertoppm.exe copied to my Zotero directory and the extension finds Tesseract correctly. When I right-click a PDF attachment ("test.pdf") and select "OCR selected PDF(s)", nothing happens. The folder where the PDF is saved has a new "test.info.txt" file, but it's 0KB and completely blank. This is 10 minutes later for a very small PDF. Tried with a couple others and had the same problem.

[2020-10-18 07:24] githubnavigator commented on #16
This same issue is on all the platforms.

Can the plug-in just check to see if pdftoppm is already in the system path, and then use that? I have it installed on both my Mac and PC and can call it from anywhere in my system at the command line because it's in the path. But in Zotero I need to drag and drop the file. On Windows I also have to drag and drop all the poppler DLLs into the Zotero folder

[2020-10-18 07:53] githubnavigator commented on #17
There are directions for setting this up on Zotero on Windows here:

https://forums.zotero.org/discussion/84717/help-with-installing-zotero-ocr

[2020-10-18 07:54] #17 closed

[2020-10-24 00:24] llity commented on #16
I have the same issue

[2020-10-24 19:47] stweil commented on #16
The README describes the prerequisites: "pdftoppm from poppler library is downloaded and copied to the other scripts in the Zotero directory". Creating a symbolic link is fine, too.

So this is a documented feature. Not using `PATH` makes sure that a well defined `pdftoppm` is used.

The poppler path could be added to the settings. Do you want to send a pull request which implements the suggested

[2020-10-24 20:31] githubnavigator commented on #16
The problem is moving DLLs and exe files around in system directories like this or creating symbolic links is above the technical level of some of the people I am trying to support (actually, _all_ of the people I'm trying to help, unfortunately). Telling them to install Poppler and Tesseract and then add the location to those programs is more straightforward. Calling Poppler from its location als

[2020-11-03 12:36] CRTified commented on #16
Using the system path or a configurable setting also solves the dependency problem for declarative systems like NixOS, where neither `poppler_utils` nor `tesseract` are copied into the zotero path (and they're not even dependencies of zotero itself). While setting the path for `tesseract` is fine, not being able to set the path for `pdftoppm` is a blocker for me.

[2020-11-26 04:02] ThomasPosen opened #19 "Generates linked pdf (ocr.pdf) immediately without OCR scan"
The plugin was working amazing for me, but for some reason it stopped working recently. When I invoke it in Zotero, it generates an ocr.pdf file immediately, but nothing is in that file. I reinstalled the plugin, but this did not help. Perhaps I there has been an issue with one of the dependencies? Is there any way to debug what's happening? I don't know at what step it is failing.

[2020-11-26 04:14] ThomasPosen commented on #19
Closing this because I finally found the culprit: the pdftoppm file on mac is in /usr/local/Cellar/poppler/20.11.0/bin (version number may change). It must have been using an alias that worked, but no longer works for whatever reason. Thanks for the great plugin!

[2020-11-26 04:14] #19 closed

[2021-01-18 00:02] asanormie opened #20 "Nothing happens (Linux)"
I have pdftoppm and tesseract in appropriate directories but get no output when I right click > OCR selected pdf. I'm on arch linux but I'm pretty new to the distro. Cannot find any solution that works in the previously solved issues. Thanks!

[2021-01-23 11:19] zuphilip commented on #20
@asanormie Can you give some more details? If you click on OCR selected PDF what do you see then afterwards in the "Report error..." window? Moreover, if you click on right click on the file in Zotero and choose "Show file" what other files do you see in this folder?

[2021-01-23 13:52] zuphilip opened #21 "No line breaks in the attached note"
Also there are line breaks etc. in the recognized txt file.

[2021-01-23 15:37] #14 closed

[2021-01-23 15:37] #16 closed

[2021-01-23 15:48] zuphilip commented on #11
I don't see this anymore.

[2021-01-23 15:48] #11 closed

[2021-01-23 15:57] zuphilip commented on #12
Try to replace `linkFromFile` by `importFromFile` should do the trick...

[2021-01-23 15:58] #15 closed

[2021-01-23 15:58] #21 closed

[2021-01-23 16:01] zuphilip commented on #15
Fixed and part of the newest version 0.4.0. Thank you @prc1212 for reporting.

[2021-01-23 16:03] zuphilip commented on #16
There is now a new option to configure the path to pdftoppm. Please try it out in the new version 0.4.0. For any new problems you can open another issue. / CC @ddmarshall @llity @githubnavigator @CRTified

[2021-01-23 16:04] zuphilip commented on #14
Such an option is now added in the version 0.4.0.

[2021-01-23 16:06] zuphilip commented on #7
Is this still a problem in the newest version?

It works fine for me on Windows in version 0.4.0 also for PDFs with spaces.

[2021-01-23 16:11] serovar commented on #7
Works for me too on Windows 10, thanks

[2021-01-23 21:51] asanormie commented on #20
Thanks for replying! Here is Report Error output: https://pastebin.com/raw/NhmASDPd

Here is the output from ls in the folder "show file" takes me to:

 image-list.txt  'Sibley et al_2018_Addressing Incomplete Psychiatric Histories in Adult ADHD.info.txt'
 page-1.png      'Sibley et al_2018_Addressing Incomplete Psychiatric Histories in Adult ADHD.pdf'
 page-2.png

[2021-01-23 22:40] dalito commented on #20
Have you specified the full path including the name of the executable? I had a similar result on Windows when I specified only the path to where tesseract.exe lies without including "tesseract.exe".

[2021-01-23 23:18] zuphilip commented on #20
The executable seems to be found here, but the tesseract run lead to the exit code 1.

Can you try to simulate the tesseract call directly? I.e. something like
[code]
in your case? Do you see more details about the error then?

[2021-01-24 02:32] asanormie commented on #20
Here is the output I get:
`Error opening data file /usr/share/tessdata/eng.traineddata
Please make sure the TESSDATA_PREFIX environment variable is set to your "tessdata" directory.
Failed loading language 'eng'
Tesseract couldn't load any languages!
Could not initialize tesseract.`

[2021-01-24 02:52] asanormie commented on #20
OK so I made some progress by copying `eng.traineddata` from `/var/lib/flatpak/app/org.gnome.OCRFeeder/current/a74dc418e3c47a73569e385be7219dcccf0ca829e754f4e65aa29e3919dd50ff/files/share/tesseract/tessdata` to `/usr/share/tessdata`

I now get a complete ocr.txt of the pdf but when I try to open the ocr.pdf it says its broken, and still no feedback from zotero that OCR was successful.

[2021-01-24 02:56] asanormie commented on #20
Nevermind, ocr.pdf is no longer broken. Everything appears to be working as it should now, except for affirmative output from Zotero - going to mark this as closed. Thanks for your help!! Awesome program!

[2021-01-24 02:56] #20 closed

[2021-01-24 10:20] zuphilip commented on #12
But this will create a new folder with this attachment and therefore doubling the space usage unnecessary.

[2021-01-24 18:37] zuphilip commented on #2
This is now implemented in the new version 0.5.0.

[2021-01-24 18:37] #2 closed

[2021-01-24 18:59] serovar opened #23 "Make resolution of extracted images configurable"
It would be really appreciated, if possible, the addition of a setting to raise the default image quality of the produced OCRed pdf, since the default quality is suboptimal in many instances.

E.g. (Top: Original, Bottom: OCRed version)

![Zotero-OCR](https://user-images.githubusercontent.com/6732420/105640480-985c2d00-5e7e-11eb-8403-83827b3e65f7.jpg)

[2021-01-24 22:33] zuphilip commented on #23
The first step is to extract the pages from the pdf into png images. There is a resolution parameter there which currently is set to 300dpi:

https://github.com/UB-Mannheim/zotero-ocr/blob/822f44298dce422a299ebabdd7c987d67e320b03/chrome/content/zoteroocr.js#L128

It is possible to make this also configurable with a parameter. Then you could try to use e.g. 600 better image quality within the newly

[2021-01-26 16:21] serovar commented on #23
Yes, it would be perfect :)

[2021-01-28 09:12] stweil commented on #7
Thanks for testing. So I think this issue can be closed.

[2021-01-28 09:12] #7 closed

[2021-02-08 23:02] opal06 opened #24 "Idea: Give option to force OCR"
I frequently encounter PDFs downloaded from sources like JSTOR that do already have an OCR layer embedded, but which is not actually accurate. Issues can be simply bad OCR (rare), but more often layers that are not exactly overlapping with the visible text. When highlighted, it looks fine in a reader, but when extracted via tools like ZotFile or trying to copy the text, the output is different fro

[2021-02-09 20:57] zuphilip commented on #24
Actually, the plugin is currently processing every PDF regardless of whether it contains only images or also a text layer. Try it out yourself.

However, I would like to add an option, that PDFs with some text can be skipped (filtered out) for OCR processing. I imagine to do this as an option which can be check or not, but that is still a todo mentioned somewhere in the code.

BTW the plugin here

[2021-02-10 08:50] opal06 commented on #24
Thank you very much for your response.

This is true, totally my error as I didn't realise I had changed my language settings to German but was trying to process an english text.

This seems very interesting, would really like to see it.

As I was wrong though, I will close this issue as it actually is a non-issue. Thank you for your time and the response!

[2021-02-10 08:50] #24 closed

[2021-02-10 16:58] zuphilip commented on #24
@opal06 For languages with Latin letters as English, German, etc. you can also try out `script/Latin` which usually works quite nice. Moreover, this then overcomes the potential issues that also in a German text you find French, Spanish, ... words e.g. for names.

[2021-02-10 18:44] opal06 commented on #24
This is very useful information, thank you very much. I was trying to find out if there was multi language support just earlier today.

[2021-02-20 12:04] zuphilip opened #25 "Is XPDF an alternativ of poppler tools?"
See also https://github.com/zotero/cross-xpdf

[2021-02-20 12:14] kba commented on #25
poppler started as a fork of XPDF, is part of freedesktop and is frequently updated, so I see no reason why the XPDF implementation of pdftotext or pdfinfo would be superior.

[2021-02-24 13:30] zuphilip commented on #25
Thank you @kba for the explanation. But then both might work the same for a user, right?

I was just thinking to mention somewhere that instead of poppler also xpdf could be used. It is an prerequisite, i.e. not our main focus, so 2-3 words in the README could enough.

[2021-02-24 13:41] kba commented on #25
Yes, both will work but at least on my Ubuntu 18.04 machine, the `xpdf` package does not include the tools, you need to download/install them from https://www.xpdfreader.com/download.html or build them yourself. `poppler-utils` contains the tools.

[2021-03-22 04:48] skishchampi opened #26 "Difficulty to OCR with the Zotero Beta (latest) on Mac M1"
I am trying to use the plugin with Zotero Beta (latest version) on an Apple M1.

I have tesseract, and poppler tools configured. But there seems to some issue as I am not able to OCR any file. Here is the error I see when looking at Debug Output.

(1)(+0000007): NS_ERROR_FAILURE Exception: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIProcess.init] [Exception... "Component ret

[2021-03-31 22:54] AndrewRRM opened #27 "Resulting PDF is invalid (on M1 Macbook)"
Not sure if this is the right place for a help request so feel free to move or delete this post. I've already posted over at the Zotero forum.

I cannot get this to work.

I've installed tesseract and poppler with Homebrew, installed the zotero plugin and set the path in the Zotero plugin to:

(/opt/homebrew/Cellar/tesseract/4.1.1
/opt/homebrew/Cellar/poppler/21.03.0_1/bin

I can confirm that this

[2021-04-07 11:17] zuphilip commented on #27
Can you save the extracted text in a text note?

It sounds like the steps are running through and then only the resulting PDF is invalid. Does this happen with every PDF you try? If yes, can you share the resulting PDF and the one you started with here as an example?

[2021-04-07 11:23] zuphilip commented on #26
I can confirm that the plugin works with the latest Zotero Beta as I am using that as well, but I am testing on Windows.

@skishchampi  Can you specify further the configuration for the plugin you are using?

Moreover, try activate the debug output and then do the steps in the plugin again. There you should see the exact commands with paths which are used and whether there might be some misconfigu

[2021-04-14 07:15] skishchampi commented on #26
ok, I tried as advised (I think) and here is the output

Sharing the configuration in the screenshot

<img width="633" alt="Screenshot 2021-04-14 at 12 42 53 PM" src="https://user-images.githubusercontent.com/996985/114669171-398cae00-9d1f-11eb-9fd0-e967d8333a61.png">

[2021-04-25 00:46] AndrewRRM commented on #27
Sorry for the slow reply. Actually, I have no error anymore. In fact, nothing happens when I try to ocr now. Doesn't matter what pdf I attempt.

[2021-05-13 21:35] ReaderGuy42 opened #29 "Issue with missing .dll Files"
I'm way out of my depth here, so I'm not sure what to do:

I've followed the  instructions and the Tesseract install was no problem.

I found a StackOverflow tutorial to install the Poppler files.

I've entered the paths to Tesseract and Poppler in the Zotero extension window, but when I try OCR'ing a file in Zotero via right-click I get a series of error messages about missing .dll Files: freetyp

[2021-05-16 12:50] burgarth opened #30 "Updating PDF"
This works very well for me, but when I choose "override PDF" it does not tell Zotero that it has modified the PDF. This means that Zotero won't sync over the modified file to my other devices (I use the Zotero full sync, not linked files). Am I overlooking an option?

[2021-05-23 18:01] jbenton commented on #26
Just wanted to say I'm running into the same problem on my M1 Mac. Here's my error:

(1)(+0000005): NS_ERROR_FAILURE Exception: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIProcess.init] [Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIProcess.init]" nsresult: "0x80004005 (NS_ERROR_FAILURE)" location: "JS frame :: chrome://zotero/content/xpcom

[2021-05-28 07:21] sgroth commented on #26
Same here (Mac OS 11.2.3, Zotero 5.0.97-beta.27+861d5787d):

[2021-06-05 08:25] otheivan commented on #27
Hi,

I have the same or a similar problem with Zotero on Windows 10.

When I run OCR a command prompt for pdftoppm pops up and just sits there without doing anything, even left it for about 30 minutes but nothing (I should say, it does something since the cpu seems to react, but I don't know what). When I close down pdftoppm a command prompt for tesseract pops up and seems to do its thing however,

[2021-06-06 14:40] stweil commented on #27
The "path" settings require the full path of the executables, not only the directory part. These settings work for me on MacOS with M1:

![Bildschirmfoto 2021-06-06 um 16 36 59](https://user-images.githubusercontent.com/6734573/120928616-9a17e600-c6e5-11eb-8398-8fa1cc997015.png)

[2021-07-01 09:30] mateMathieu opened #31 "Document to configure linux and mac have moved, suggestion to include them in the repo's docs"
Hi,

The linux and the mac configuration document have moved.
Can we include a simple screenshot of the right parameters to use for the configuration?

Thanks

[2021-07-01 12:11] stweil commented on #31
See pull request #28 which fixes the link.

The right parameters depend on your local environment. Handling all cases requires a lot of screenshots.

[2021-07-01 13:29] #31 closed

[2021-07-01 15:07] mateMathieu commented on #31
Just setting the default parameters in the UI would be great also!

[2021-08-03 14:28] fangzhou-xie opened #32 "tesseract.js with WebAssembly"
Thanks for this package! I just tried out this extension yesterday and found it great.

Just out of curiosity, is it possible to compile the `tesseract` into WebAssembly by using [`tesseract.js`](https://github.com/naptha/tesseract.js) so that the end-user don't need to install the tesseract package on their local machine?

I know little about JS and I am not sure if this is viable. But I am askin

[2021-08-29 23:24] e42mercury opened #33 "PDFs very large, compressing in Preview removes OCR'd text"
I love this plug-in, but I am running into two issues:
1. Scanned PDF size increase x10–20: I just scanned a 14 MB file and the scanned PDF was 200 MB.
2. When I compress this file in Mac's Preview, the text is no longer searchable. It gets turned into this: "􏰀􏰀􏰀􏰀􏰀"

When I compress the file in with Acrobat's online tool, I can compress without losing the text, but overall it makes this plugin muc

[2021-09-22 15:19] nickallyn opened #34 "keeps running without finishing job"
I have installed Tesseract but when I go to OCR a document the log keeps going for hours but the OCR'd pdf is never produced.

Debug ID D405980180.

[2021-12-25 15:44] SYQsb opened #35 "producing scanned pdf from a wrong file"
system is macbook air, M1, Monterey, Zotero 5.0.97-beta.59+abe8c39c5, add-on the latest.

when i choose an attached pdf and click `OCR selected PDF`, after some while it does produce a scanned pdf file, but **not the one i selected**, and no matter which i choose to scan, i always get the same file

[2022-01-09 02:18] Sam2629 opened #36 "Issue: Gets stuck after producing PNGs"
Zotero OCR initially worked. Now it only produces pdfinfo and image-list text files and PNGs (see image).

Stopped working after I moved data directory location and Zotfile location.

Tried to reinstall OCR and restore default locations, still doesn't work.

MacOS 12.1. (Intel, not M1)

![image](https://user-images.githubusercontent.com/97371226/148666631-28835bad-2b20-4148-a65a-d26cdcb1677c.png)

[2022-01-09 02:32] Sam2629 commented on #36
Deleted the 'choose language/script', it's now blank and it works.

[2022-01-09 02:32] #36 closed

[2022-01-25 22:57] dummifiedme commented on #16
Can there be a detailed explanation on how to installed pdftoppm?
I am on Manjaro Linux, and have both the poppler and utils installed on the system.
Where do I have to get the files from?

[2022-01-26 00:09] CRTified commented on #16
@dummifiedme
`pdftoppm` is part of the utils package.
After installing, it is likely that `pdftoppm` can be found in `/usr/bin/`.

If you can run `pdftoppm` in a shell, it is in one of the paths in the environment variable `$PATH`. In this case, you can identify the full path by running `whereis pdftoppm`.

[2022-01-26 00:29] dummifiedme commented on #16
Thanks!
I found the package at `/usr/bin/`

Now, if I run the OCR command, will it show any visual confirmation that the process has started or when it is finished?
Currently, I don't see any error popup but nothing particularly different. Plus, opening the PDF shows file invalid error.

[2022-02-20 00:40] cjpoor opened #37 "Zotero-ocr not compatible with latest beta 6"
Attempting to install zotero-ocr-0.5.0.xpi on
Zotero 6.0-beta.1+8c846468f
gives the message that this add-on is not compatible with this version of Zotero.
See this discussion
https://forums.zotero.org/discussion/94617/all-plugins-removed-from-zotero-6-0-beta-1-c6d03753f#latest

[2022-02-23 14:12] bbraunj commented on #37
@cjpoor If you build manually from #38, you should be able to install the resulting .xpi on beta 6.

[2022-02-24 00:55] cjpoor commented on #37
@bbraunj Thanks. How do I build manually?

[2022-02-24 13:34] bbraunj commented on #37
@cjpoor In the terminal:
[code]
This should produce a .xpi in that directory.

[2022-02-25 01:33] cjpoor commented on #37
Great. Thank you . It works!

[2022-02-28 00:34] cjpoor commented on #37
Will this zotero-beta-6-ocr work with Zotero 5?

[2022-03-08 17:10] Nonameentered commented on #35
I get this issue too. @SYQsb did you ever find a solution?

[2022-03-10 08:49] SYQsb commented on #35
no I couldn't find the cause. After a few rebooting it came back to normal, without me adjusting anything.
Anyway I have quit using this add-on now...

[2022-03-14 15:07] ShengyeTao commented on #37
@bbraunj nice job, thanks a lot, it actually do me a big favor.

[2022-03-14 19:49] cjpoor commented on #37
Thank you :-)

[2022-03-17 13:09] morpheus-sapiens-amans opened #39 "Can't config the path to OCR engine on linux"
tesseract-ocr is he engine used by Zotero OCR to recognize and extract content, but the installation guide only shows the path for windows machine.

1. I tried `whereis tessarect-ocr` to locate the path for the engine and I got `/usr/share/tesseract-ocr` as a result, but when I applied to the preferences in Zotero, it says no executable found.

Does anyone knows what to do to config?

thanks

[2022-03-17 13:48] morpheus-sapiens-amans commented on #39
I've just found this other post that shows the same problem as I do.

[zotero forums](https://forums.zotero.org/discussion/90576/ocr-parameters-on-linux)

I went to the github page and found the link to configuration for mac and linux does not work correctly.
So here are my config param:

For pdftoppm: /usr/bon/pdftoppm
For the language script: script/Latin

[2022-03-20 22:31] jkroes commented on #30
This was going to be my question: Does overriding a PDF with the OCR'd version count as a change that will be recognized and synced by Zotero?

[2022-04-07 01:32] charmarkk commented on #37
As I try this, I get the following error on Windows and Linux:

`./build.sh: line 10: zip: command not found`

Am I doing something wrong after entering a version number?

[2022-04-07 03:11] cjpoor commented on #37
@charmarkk What did you enter for version number? I used "6" (without the quotation marks) and it worked for me on linux Mint, producing ~/zotero-ocr/zotero-ocr-6.xpi

[2022-04-07 10:05] vdmeer-rm commented on #37
When I try this, I get:  '/build.sh' is not recognized as an internal or external command, operable program or batch file.
I tried just using build.sh - this made me enter a version number. When I picked 6 (or anything else), I could not find the .xpi file. Is there a way you can help me?

[2022-04-07 12:36] bbraunj commented on #37
@charmarkk You may need to install `zip` through your package manager. On Ubuntu, for example, this looks like:
[code]

[2022-04-07 12:38] bbraunj commented on #37
@vdmeer-rm What OS are you using?

[2022-04-07 12:41] vdmeer-rm commented on #37
@bbraunj Windows

[2022-04-07 17:39] charmarkk commented on #37
I'll try that. I'm almost positive that must be what the issue is - thanks!

FWIW I think you can run this on Windows if you install Git Bash, I got through everything except running into the "zip command not found" issue. That said, `zip` may not be a usable command _at all_ on Windows.

[2022-04-09 03:44] charmarkk commented on #37
This was indeed the answer. This would be good documentation, not everyone uses linux or is familiar with that package.

[2022-04-13 18:45] dstark commented on #37
@bbraunj and @vdmeer-rm, apparently you can build the extension on Windows via the Linux subsystem. Documentation [here](https://www.jdavidstark.com/how-to-extract-text-from-image-only-pdfs-with-zotero#windows) in case it should prove useful to you or others. But hopefully the update to allow the extension in Zotero 6 by default will come along in the near future.

[2022-05-22 14:57] zuphilip commented on #29
Sorry for the dealy @ReaderGuy42. We collected some hints for the installation of the poppler tools in the wiki: https://github.com/UB-Mannheim/zotero-ocr/wiki/Install-pdftoppm but hopefully you could find a solution in the mean time anyways.

[2022-05-22 14:57] #29 closed

[2022-05-22 15:06] zuphilip commented on #30
Sorry, for the delay @burgarth and @jkroes . Could you figure this out now already? I see in Zotero that the modified date from the PDF is changed and would therefore expect, that it also trigger the update mechanism. No?

[2022-05-22 15:16] zuphilip commented on #32
Sorry for the delay @fangzhou-xie . That is a good question but w.r.t. to the possiblities with pure JS libraries I don't know the answer.

At the very beginning I also thought about the different possiblities to implement it: either call the locally installed tools (as it is now) or do everything with Javascript and special libraries as the one you mentioned. Possibly other features as saving to

[2022-05-22 15:16] #32 closed

[2022-05-22 15:25] zuphilip commented on #33
Sorry for the delay @e42mercury . The plugin extracts each page in the PDF as an image (with help of pdftoppm) and then saves the resulting text together in a new PDF. This can lead to increasing file sizes, also your example (14MB to 200MB) seems quite a lot. I don't see at the moment, how to change something there. Because we want to have good images extracted for the OCR quality.

Maybe you can

[2022-05-22 15:27] zuphilip commented on #34
Sorry @nickallyn for the delay. I cannot look at these debug messages. Is the issue still there? Maybe you can on yourself activate the debug logging in Zotero and look if there is anything related mentioned there.

[2022-05-22 15:29] zuphilip commented on #35
Sorry for the delay @SYQsb and @Nonameentered . I am not sure that I understand your problem correctly. Do you have an entry in Zotero with multiple PDFs attached to it and select one of them?

[2022-05-22 15:45] zuphilip commented on #39
Is `/usr/share/tesseract-ocr` not only the directory? Then you should try something like `/usr/share/tesseract-ocr/tesseract` instead. But you can also try to leave it simple empty, then the default options will be tried out:
https://github.com/UB-Mannheim/zotero-ocr/blob/9a1e87c8e5a588c7f9c046f812ee7de55f277ec1/chrome/content/zoteroocr.js#L36

If this does not help, then activate the debug log an

[2022-05-22 17:40] zuphilip commented on #37
I have mergerd the pull request by @bbraunj and released a new version: https://github.com/UB-Mannheim/zotero-ocr/releases/tag/0.6.0 which should now work again with Zotero 6. (In general it is not needed to create the XPI-file yourself.) Thank you for the intermediate support here as well.

I will close this issue now. Feel free to open another one, if you have any further or follow-up problems.

[2022-05-22 17:40] #37 closed

[2022-05-22 17:44] stweil commented on #39
`/usr/bin/tesseract` is the correct setting for the typical installation on Linux.

[2022-05-22 18:02] zuphilip commented on #26
Sorry for the delay!

@skishchampi You only have indicated the path, but not the actual files.

@jbenton @sgroth Try something like `/opt/homebrew/Cellar/tesseract/4.1.1/bin/tesseract`. Here is an example:

![](https://user-images.githubusercontent.com/6734573/120928616-9a17e600-c6e5-11eb-8398-8fa1cc997015.png)

[2022-05-22 18:25] zuphilip commented on #27
I am closing this, since the initial question by @AndrewRRM seems to be answered by @stweil.

@otheivan If you have still any issues, then please open another issue about it. I think it is easier to seperate the different operating systems on these issues.

[2022-05-22 18:25] #27 closed

[2022-05-23 08:47] ReaderGuy42 commented on #29
Thanks :)

[2022-05-23 19:25] e42mercury commented on #33
No worries, that's a good suggestion. In the meantime, I have started using the command line program [OCRmyPDF](https://github.com/ocrmypdf/OCRmyPDF). This is a really nice, full-featured OCR program, which is also based on tesseract. Personally, I think the most useful thing for Zotero would be a plugin that runs OCRmyPDF – for something like that all that would be necessary is a dialogue window

[2022-05-23 20:50] zuphilip commented on #33
Yeah, OCRmyPDF is also an interesting tool. However, I think the prerequirements for that to run on your local mashine are even larger than here (also Python and Ghostscript need to be installed). Thus, I don't want to change that here in the project, but if you like to work on that, then feel free to do that on a fork or just by using part of the plugin here.

[2022-05-24 06:51] #33 closed

[2022-05-26 14:39] #26 closed

[2022-07-10 00:09] jvmachados opened #42 "Is there a way to reduce the size of output pdf files?"
I tested this ocr tool on some PDFs I downloaded from Academia.edu and the results were great. However, there's a problem: it increased the file size by A LOT (ex: a 11.8 MB file turned a 107 MB pdf).

I was hoping to use this tool to create searchable and conveniently highlightable PDFs using scans from physical books I have, but scanned files are normally huge on their own. When I ran zotero-ocr

[2022-07-13 18:52] dstark opened #43 "Zotero OCR Fails with Linked Attachments"
When I run Zotero OCR with PDFs inside the Zotero storage folder, things go as expected. When instead Zotero has only a link to a PDF stored elsewhere, the OCR fails to finish.

OCR run on a linked PDF can create

- a Zotero note for the OCR text, but this note remains empty and never gets text added to it,
- a .ocr.pdf file, but this file fails to open with the error "[PXCLib]: Required value not

[2022-07-21 07:49] YangWaldon opened #44 "Change language to chi_sim_vert, perform OCR didn't response"
① installed tesseract as well as poppler
② entered the path of two exe's in the zotero ocr plugin
③ in order to ocr the Chinese pdf, entered chi_sim_vert in the language field
![image](https://user-images.githubusercontent.com/49675185/180158736-33077bcd-a8a8-4ae7-8290-5df2c0a628df.png)

④ Run the plugin, only a black window popped up, but did not produce any running results
![image](https://user-

[2022-07-21 09:48] YangWaldon commented on #44
I further found that after pdftoppm converts the pdf (the document is all in Chinese) to many png images (in the same folder as the pdf), it doesn't call tesseract to ocr those images (provided I have the option to save the png turned off.
![image](https://user-images.githubusercontent.com/49675185/180184559-9c20d796-136f-454d-b579-093ec4c1aee1.png)

Shouldn't tesseract be processing images in tif

[2022-08-26 07:09] trenkert opened #45 "plugin does not find tesseract"
I get this message on debian:

`No /usr/bin/tesseract executable found.`

but the file exists.

[2022-08-30 20:26] Church-Lippmann commented on #45
I have the same problem on win 11.

[2022-09-06 03:18] meowtiann opened #46 "No pdftoppm.exe executive found"
I right clicked a pdf and choose ocr. But it says no exe found under zotero file. I installed tesseract and both are newest version.

[2022-09-18 12:57] forensmatt commented on #46
same here - can't get it to work

[2022-10-15 00:09] gzqx commented on #30
I can confirm on my laptop after pdf is modified Zotero will trigger syncing.

[2022-10-31 07:37] borry666 commented on #34
Hi, I hava a similar question.
After intalling the plug-in OCR in zotero, I tried "OCR the selected pdf(s)", but zotero even didn't have window to tell me whether it was processing or not. There was nothing move. However the interesting thing is that I could know that the cpu is working, so I'm not sure this will help you guys.

For you imformation, the computer is Mac m1pro chip with Ventura 13.0

[2022-11-02 16:02] mattiaTagliente commented on #42
I second this request.